H1 {
  color: black;
}

td {
  color: blue;
  padding: 4px;
} 

table {
  border: 1px solid black;
}

#state {
  color:  green;
  text-align: center;
}

#level {
  color: orange;
  text-align: center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
} 